@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --cor0: #41fff9;
    --cor1: #2cb9ff;
    --cor2: #0c60c7;
    --cor3: #00c8ff;
    --cor4: #08248b;
    --cor5: #004d88;
    --cor6: #5aa4ff;
    --corback: #ddf3fb;
    --cormarc: #2cb9ff31;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulos: 'Orbitron', sans-serif;
    --fonte-header: 'Hubot Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corback);
    font-family: var(--fonte-padrao);
}

header {
    padding-top: 20px;
    background-image: radial-gradient(var(--cor1), var(--cor4));
}
header h1{
    font-family: var(--fonte-header);
    font-weight: 500;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.484);
    padding: 10px
}

header p{
    font-family: var(--fonte-header);
    text-align: center;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 13, 255, 0.773);
    font-size: 1.075em;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    margin: auto;
}
nav{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    padding: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.200);
}
nav a{
    font-family: var(--fonte-header);
    font-weight: 550;
    padding: 7px;
    padding-left: 7px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    background-color: var(--cor1);
    color: var(--cor4);

}

main {
    background-color: white;
    padding-top: 10px;
    padding: 5px;
    max-width: 950px;
    min-width: 350px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.359);
    margin: auto;
}

main a{
    text-decoration: none;
    font-weight: 600;
    color: var(--cor4);
}

main a:hover{
    text-decoration: underline;
}

main a:active{
    color: var(--cor1);
}

.externo::after{
    content: '\1F517';
}

main img{
    width: 95%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

main img.peq{
    max-width: 350px;
    display: block;
    margin: auto;
}

article h1{
    color: var(--cor5);
    font-family: var(--fonte-titulos);
   margin: 10px 0px;
   text-align: justify;
   text-indent: 10px;
}

article h2{
    color: var(--cor2);
    font-family: var(--fonte-titulos);
    margin: 10px 0px;
    text-align: justify;
    text-indent: 15px;
}

article h1:hover{
    background-color: var(--corback);
    color: var(--cor4);
    border-radius: 20px;
    transition: 0.5s;
}

article h2:hover{
    background-color: var(--corback);
    color: var(--cor4);
    border-radius: 20px;
    transition: 0.5s;
}

main p{
    font-size: 1.03em;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8em;
    margin: 10px 6px;
}

strong {
    padding: 0.24em;
    border-radius: 15px;
}

strong:hover{
    background-color: var(--cor1);
    transition: 0.2s;
}

div.video{
    background-image:linear-gradient(to bottom, var(--cor6), var(--cor4));
    padding: 10px;
    padding-bottom: 56%;
    margin: 10px -5px 10px -5px;
    position: relative;
}

div > iframe{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
}

aside {
    background-color: var(--cor1);
    max-width: 850px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.453);
    margin: auto;
    padding: 10px;
    border-radius: 5%;
}

aside h3{
    background-color: var(--cor5);
    padding: 10px;
    margin: -10px -10px 5px -10px;
    border-radius: 18px 18px 0px 0px;
    text-align: center;
    color: white;
}


aside > ul{
    list-style-position: inside;
    list-style-type: '\1F4F1\00A0';
    columns: 2;
}

footer {
    background-image:linear-gradient(to top, var(--cor2), var(--cor6));
    margin-top: 50px;
    padding: 1px;
}

footer p{
    text-align: center;
    font-style: italic;
    margin: 6px 4px;
    font-weight: 600;
    color: var(--corback);
}

