@charset "UTF-8";


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Playwrite AU SA", cursive;
    --fonte3: "Amatic SC", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


    

html, body{
    background-color: rgb(132, 132, 132);
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 35px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 4.5em;
}

header p{
    padding-bottom: 35px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

a:active{
    color: yellow;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-size: 2.5vw;
}

section p{
    font-family: var(--fonte2);
    padding: 5px;
    padding-bottom: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.248);
    
}


section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: bisque;
    color: white;
    box-shadow: inset 5px 5px 16px rgba(0, 0, 0, 0.500);
    
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.400);
    display: inline-block;
    padding: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.356);
}

#img1{
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment:fixed
}

#img2{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    background-attachment:fixed
}

footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}